[safe]
	directory = /home/pinj/nixos
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[user]
	email = kontakt@ragusa-it.dev
	name = Melvin Ragusa
